@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var businessLicenses = (QuickTypeLicense.BusinessLicenses[])ViewData["BusinessLicenses"];
    var businessOwners = (QuickTypeOwners.BusinessOwners[])ViewData["BusinessOwners"];
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        

        <table border="1">
            <tr>
                <td>Account Number</td>
                <td>Business Name</td>
                <td>Owner First Name</td>
                <td>Owner Middle Name</td>
                <td>Owner Last Name</td>
                <td>Owner Title</td>
            </tr>


            @{
                foreach (QuickTypeOwners.BusinessOwners businessOwner in businessOwners)
                {
                    <tr>
                        <td>@businessOwner.AccountNumber</td>
                        <td>@businessOwner.DoingBusinessAsName</td>
                        <td>@businessOwner.OwnerFirstName</td>
                        <td>@businessOwner.OwnerMiddleInitial</td>
                        <td>@businessOwner.OwnerLastName</td>
                        <td>@businessOwner.OwnerTitle</td>
                    </tr>
                }
            }
        </table>
        <!--
        <table border="1">
            <tr>
                <td>License Id</td>
                <td>Account Number</td>
                <td>Owner First Name</td>
                <td>Owner Middle Name</td>
                <td>Owner Last Name</td>
                <td>Owner Title</td>
            </tr>


            @{
                foreach (QuickTypeLicense.BusinessLicenses businessLicense in businessLicenses)
                {
                   
                }
            }
        </table>

    </div>
