@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<LicenseOwners.Models.BusinessLicenseOwners> businessLicenseOwners = (List<LicenseOwners.Models.BusinessLicenseOwners>)ViewData["BusinessLicenseOwners"];
    HashSet<String> BusinessActivitySet = (HashSet<String>) ViewData["BusinessActivitySet"];
   
}



    <div>
        <form method="post">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="Activity">Business Activity</label>
                    <select name="Activity" class="form-control">
                        @{
                        foreach (var activity in BusinessActivitySet)
                        {
                           
                            <option value="@activity">@activity</option>
                            }
                        
                        }
                    </select>
                </div>


                <input class="btn-primary" id="submitButton" type="submit" value="Search">
            </div>
        </form>



    </div>





@if (Model.DataFetched)
{
<div class="text-center">
    <h1 class="display-4">List of Business Owners</h1>
    <table border="1">
        <tr>
            <td><strong>Account Number</strong></td>
            <td><strong>License Number</strong></td>
            <td><strong>Business Name</strong></td>
            <td><strong>City</strong></td>
            <td><strong>State</strong></td>
            <td><strong>Business Activity</strong></td>
            <td><strong>Owner First Name</strong></td>
            <td><strong>Owner Last Name</strong></td>
            <td><strong>Owner Title</strong></td>
        </tr>


        @{
            foreach (LicenseOwners.Models.BusinessLicenseOwners businessLicenseOwner in businessLicenseOwners)
            {
            <tr>
                <td>@businessLicenseOwner.AccountNumber</td>
                <td>@businessLicenseOwner.LicenseNumber</td>
                <td>@businessLicenseOwner.DoingBusinessAsName</td>
                <td>@businessLicenseOwner.City</td>
                <td>@businessLicenseOwner.State</td>
                <td>@businessLicenseOwner.BusinessActivity</td>
                <td>@businessLicenseOwner.OwnerFirstName</td>
                <td>@businessLicenseOwner.OwnerLastName</td>
                <td>@businessLicenseOwner.OwnerTitle</td>

            </tr>
            }
        }
    </table>


</div>
}

