@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<LicenseOwners.Models.BusinessLicenseOwners> businessLicenseOwners = (List<LicenseOwners.Models.BusinessLicenseOwners>) ViewData["BusinessLicenseOwners"];
}

    <div class="text-center">
        <h1 class="display-4">List of Business Owners</h1>
        <table border="1" class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th><strong>Account Number</strong></th>
                <th><strong>License Number</strong></th>
                <th><strong>Business Name</strong></th>
                <th><strong>City</strong></th>
                <th><strong>State</strong></th>
                <th><strong>Business Activity</strong></th>
                <th><strong>Full Name</strong></th>
                <th><strong>Owner Title</strong></th>
                
            </tr>
            </thead>
            <tbody>

            @{
                foreach (LicenseOwners.Models.BusinessLicenseOwners businessLicenseOwner in businessLicenseOwners)
                {
                        <tr>
                            <td>@businessLicenseOwner.AccountNumber</td>
                            <td>@businessLicenseOwner.LicenseNumber</td>
                            <td>@businessLicenseOwner.DoingBusinessAsName</td>
                            <td>@businessLicenseOwner.City</td>
                            <td>@businessLicenseOwner.State</td>
                            <td>@businessLicenseOwner.CheckBusinessActivity</td>
                            <td>@businessLicenseOwner.FullName</td>
                            <td>@businessLicenseOwner.OwnerTitle</td>
                            
                            
                        </tr>
                }
            }
                </tbody>
        </table>
        

    </div>
